@model NavyPqs.Models.Section

<div>
    <dl class="dl-horizontal">
        <dd>
            @Html.DisplayFor(model => model.Number)
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        @for (int i = 0; i < Model.Signed.Count(); i++)
        {
            @Html.CheckBoxFor(model => model.Signed[i])
            @Html.DisplayFor(model => model.LineItem[i])

        }
        @*@foreach (var signature in Model.Signatures)
        {
            Html.RenderPartial("Partials/ViewSignature", signature);
        }*@
    </dl>
</div>