@model NavyPqs.Models.CwoPqs

@{
    ViewBag.Title = "View";
}

<div>
    <dl class="dl-horizontal">
        @foreach(var section in Model.Sections)
        { 
            Html.RenderPartial("Partials/ViewSection", section);
        }
    </dl>
</div>